// Fade-in page switching Fx
:host {
  display: block;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Page title
h1{
  font-weight: 500;   
  font-size: 48px; 
  margin-bottom: 20px;
  text-align: center;

  margin-bottom: 40px;    
  line-height: 1.6;      
  color: #bfdbfe;  
}

// GENERAL PAGE SECTION
.contact-content{  
  display: flex;
  flex-direction: row;
  gap: 100px;
  // align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 40px;
}

// Media-query applied (Only applies style when screen < 768px)
@media (max-width: 1024px) {
  .contact-content {
    flex-direction: column;
    align-items: center;    
    gap: 30px;
  }    
}

@media (max-width: 1024px) {
  .contact-info ul{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .contact-info ul{
    grid-template-columns: 1fr;
  }
}

// CONTACT FORM SECTION
.contact-form{
  // margin-bottom: 10px;     
  line-height: 1.6;    
  // color: #dbeafe;    
  color: #bfdbfe;    
  max-width: 600px;
}

.contact-form .title{
  font-weight: 500;   
  font-size: 38px; 
  margin-bottom: 20px;
  text-align: center;
}

.contact-form .description-text{
  margin-bottom: 18px;   
  text-align: justify;    
  font-size: 18px; 
}

.contact-form form{
  margin-bottom: 18px;     

  display: flex;
  flex-direction: column;    
}

.contact-field{
  display: flex;
  flex-direction: column;

  align-items: left;  

  margin-bottom: 20px;
}

.contact-field label{
  text-align: left;    
  font-size: 16px; 
  color: #e2e8f0;
  margin-bottom: 2px;
}

.contact-field input{
  height: 40px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
}

.contact-field textarea{
  height: 100px;
  resize: vertical;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
}

.contact-field.invalid input,
.contact-field.invalid textarea{
  border-color: #ef4444; 
}

.contact-field.invalid span{
  color: #ef4444;
}

.contact-field input,
.contact-field textarea{
  text-align: justify;    
  font-size: 16px; 

  border-radius: 8px;  
  
  background: rgba(255, 255, 255, 0.08);  
  border: 1px solid rgba(77, 163, 255, 0.2);
  color: #e2e8f0;  
}

.contact-field input:focus ,
.contact-field textarea:focus{
  outline: none;
  border-color: #4da3ff;
  box-shadow: 0 0 0 1px #4da3ff;
}

.contact-field.invalid input:focus ,
.contact-field.invalid textarea:focus{
  outline: none;
  border-color: #ef4444;
  box-shadow: 0 0 0 2px #fca5a5;
}

// Submit button
.contact-form button{
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;

  font-weight: 600;
  // font-size: 16px;  

  height: 45px;
  width: 160px;

//     display: flex;
//     align-items: center;
//     justify-content: center;

  padding: 5px 10px;
  margin-bottom: 0px;

  // text-decoration: none;
  color: #f8fafc;
          
  border: 1px solid #4da3ff;          // For Horizontal filling Fx    
  background: transparent;
  border-radius: 10px;
  border-width: 2px;  
  transition: color 0.3s ease-out;

  position: relative;
  overflow: hidden;
  z-index: 1;    
}

// Hover Fx
.contact-form button:hover {
  color: #0f172a;
  border-color: #0f172a;  
}

// Action over the pseudo elem 'before' when button:hover
.contact-form button:hover::before{  
  width: 100%;           // For Horizontal filling Fx
}

// Pseudo elem 'before' definition
.contact-form button::before{
  content: "";
  position: absolute;

  top: 0;         // For Horizontal filling Fx    
  left: 0;

  // For Horizontal filling Fx
  height: 100%;
  width: 0%;

  background-color: #4da3ff;

  z-index: -1;
  transition: width 0.3s ease;    // For Horizontal filling Fx
}

.contact-form .form-result {  
  text-align: center;

  margin-top: 0;
  padding: 0;

  opacity: 0;
  transform: translateY(-6px) scale(0.98);

  height: auto;

  pointer-events: none;

  transition: 
    opacity 0.25s ease,
    transform 0.25s ease,
    margin-top 0.25s ease;    
}

.contact-form .form-result.success {
  color: #22c55e;
  font-weight: 500;

  border: 1px solid rgba(34, 197, 94, 0.3);
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(34, 197, 94, 0.08);

  margin-top: 15px;

  opacity: 1;
  transform: translateY(0) scale(1);

  pointer-events: auto;  
}

// SOCIAL ICONS SECTION
.contact-info{    
  margin-bottom: 40px;    
  margin-top: 10px;
  line-height: 1.6;    
  // color: #dbeafe;    
  color: #bfdbfe;    
  max-width: 300px;
  align-self: center;
}

.contact-info ul{
  display: grid;
  // grid-template-columns: 1fr;
  gap: 40px;

  width: 100%;      /* clave */
  margin-top: 20px;

  list-style: none;

  // display: flex;  
  // justify-content: center;
  // flex-direction: column;  
  // gap: 40px;
  // width: fit-content;
  // margin: 0 auto;  
  // margin-top: 20px;
  // list-style-type: none;          
}

.contact-item{
  transition: transform 0.2s ease;
}

.contact-item a {
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;  

  align-items: center;
  gap: 5px;  
}

.contact-icon{
  width: 50px;  
  height: 50px;
  object-fit: contain;
  opacity: 0.9;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;   
}

.contact-icon.github,
.contact-icon.email{
  filter: invert(1); 
}

.contact-item:hover .contact-icon{
    opacity: 1;
    transform: scale(1.2);
}

.contact-item span{  
  width: 100px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  line-height: 1.2;   
}