
<h1>Contact</h1> 
<div class="contact-content">
    <section class="contact-form">     
        <h2 class="title">Let's get in touch!</h2>   

        <p class="description-text">
            If you want to know more about me or my work, or if you would just
            like to say hello, send me a message. I'd love to hear from you.
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">    
            <div class="contact-field">
                <label for="name-form">Name</label>
                <input type="text" 
                id="name-form" name="name-form" 
                placeholder="Enter your Name"
                formControlName="name">

                @if(form.get('name')?.invalid && form.get('name')?.touched){
                    <div>

                        @if(form.get('name')?.errors?.['required']) {
                            <span>
                                The name is required
                            </span>
                        }  

                        @if(form.get('name')?.errors?.['minlength']){
                            <span>
                                The name is too short
                            </span>
                        }

                        @if(form.get('name')?.errors?.['maxlength']){
                            <span>
                                The name is too long
                            </span>
                        }

                    </div>
                }
            </div>

            <div class="contact-field">
                <label for="email-form">Email</label>
                <input type="email" 
                id="email-form" name="email-form" 
                placeholder="Enter your email"
                formControlName="email">

                @if(form.get('email')?.invalid && form.get('email')?.touched){
                    <div>

                        @if(form.get('email')?.errors?.['required']) {
                            <span>
                                The email is required
                            </span>
                        }   
                        
                        @if(form.get('email')?.errors?.['email']){
                            <span>
                                The email has a wrong format
                            </span>
                        }                        

                    </div>
                }
            </div>

            <div class="contact-field">
                <label for="subject-form">Subject</label>
                <input type="text" 
                id="subject-form" name="subject-form" 
                placeholder="Enter the subject"
                formControlName="subject">
            </div>            

            <div class="contact-field message">
                <label for="message-form">Message</label>
                <textarea id="message-form" 
                name="message-form" 
                placeholder="Enter your message"
                formControlName="message"></textarea>     
                
                @if(form.get('message')?.invalid && form.get('message')?.touched){
                    <div>

                        @if(form.get('message')?.errors?.['required']) {
                            <span>
                                The message is required
                            </span>
                        }  

                    </div>
                }
            </div>

            <button type="submit" [disabled]="form.invalid">Send message</button>
        </form>
    </section>

    <section class="contact-info">        
        <ul>
            <li class="contact-item">
                <a href="mailto:aledifon89@gmail.com" id="email-contact">                
                    <img class="contact-icon email" src="assets/icons/email.svg" alt="Email logo">
                    <span>Email</span>
                </a>                             
            </li>           
            <li class="contact-item">
                <a href="https://www.linkedin.com/in/aledifon/" id="linkedin-contact" target="_blank" rel="noopener noreferrer">                
                    <img class="contact-icon" src="assets/icons/linkedin.svg" alt="Linkedin logo">
                    <span>Linkedin</span>
                </a>                          
            </li>
            <li class="contact-item">
                <a href="https://github.com/aledifon" id="github-contact" target="_blank" rel="noopener noreferrer">                
                    <img class="contact-icon github" src="assets/icons/github.svg" alt="Github logo">
                    <span>Github</span>
                </a>    
            </li>
            <li class="contact-item">
                <a href="https://aledifon89.wixsite.com/aledifon-games" id="gamedev-contact" target="_blank" rel="noopener noreferrer">                
                    <img class="contact-icon" src="assets/icons/gamepad.svg" alt="Game Dev Portfolio">
                    <span>Gamedev portofolio</span>
                </a>
            </li>
        </ul>
    </section>
</div>