.top-bar{
  position: fixed;
  opacity: 0.9;
  top: 0;  
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 12px;

  background: white;
  z-index: 1000;

  border-bottom: 1px solid #eee;    
}
.top-bar a {
    text-decoration: none;
    color: inherit;

    padding: 6px;

    // border: 2px solid red;
}
.top-bar a:hover {
    opacity: 0.7;
}
.highlightLink{
    font-weight: 600;
    color: black;
}

.nav-links {
    display: flex;
    gap: 16px;    
}
.social-icons {
    display: flex;
    gap: 12px;    
    margin-right: 30px;

    // border: 1px solid red;
}
.header-icon{
  width: 20px;  
  height: 20px;
  // object-fit: contain;

  padding: 6px;

//   border: 1px solid red;
}

.menu-name{
    font-weight: 400;
}
.menu-name span{
    font-weight: 700;
}

.page-content{
  padding-top: 100px;
}
.footer{
    position: sticky;
    opacity: 0.9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2px 0px;

    bottom: 0;  
    right: 0;
    width: 100%;      
    
    margin-top: 20px;

    background: white;
    z-index: 1000;

    border-bottom: 1px solid #eee;    

    // border: 1px solid red;
}
.footer-center{
    display: flex;
    gap: 16px;        

    // border: 1px solid red;
}
.footer-icon{
  width: 26px;  
  height: 26px;
  // object-fit: contain;

//   border: 1px solid red;
}
.footer-left{
    // border: 1px solid red;
}
.footer-right{    
    display: flex;
    align-items: center;

    width: 44px;
    height: 44px;

    align-items: center;
    justify-content: center;

    // border: 1px solid red;
}
.footer-right img{
    width: 24px;  
    height: 24px;

    // border: 1px solid red;
}