<section class="hero">
    <h1 class="name">
        <span>Ale</span>jandro <span>Di</span>az <span>Fon</span>talva
    </h1>    
    <h2>Software Engineer</h2>    
    <p class="who-am-i">
        Hi! I'm Alejandro Díaz Fontalva, a Software Engineer with a background in 
        industrial systems and automation, working across both engineering and 
        software environments.

        Over the years, I've developed solutions in areas such as industrial 
        automation with PLCs, microelectronics, and .NET/C# development, and I'm 
        now expanding into frontend development with Angular.

        I enjoy adapting to different technical challenges and turning ideas 
        into practical, scalable software solutions — transforming ideas into 
        software and problems into solutions.
    </p>        

    <div class="cta">    
        <!-- Go to About Page -->
        <a href="#">More about me</a>            
        <!-- Go to Projects Page -->
        <a href="#">View my projects</a>        
    </div>
</section>
