// HERO NAME
.hero-title{    
    font-weight: 500;   
    font-size: 48px; 
    margin-bottom: -5px;       
    text-align: center;
}

.hero-title .highlight{
    font-weight: 700;
    color: #4da3ff;            
}

.fade{
    // color: #e5e7eb;
    color: #e2e8f0;
    opacity: 0;
    margin-right: 10px;    
    transition: opacity 1s ease-in;
}

.fade.show {
    opacity: 1;
}

// HERO ROL
.hero-subtitle{
    margin-bottom: 20px;
    font-size: 20px;    
    // color: #e5e7eb;    
    color: #cbd5f5;
    // color: #cbd5e1;
    transition: opacity 0.8s ease-in;    
    text-align: center;
}
.hero-subtitle.hide{    
    opacity: 0;
}
.hero-subtitle.show{    
    opacity: 1;
}

.hero-content{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

// HERO DESCRIPTION
.hero-description{
    margin-bottom: 30px;    
    line-height: 1.6;    
    // color: #dbeafe;    
    color: #bfdbfe;    
    max-width: 700px;
}
.hero-text{
    margin-bottom: 18px;   
    text-align: justify;    
    font-size: 18px; 
}

// CALL TO ACTION
.cta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 8px;
}

.cta a.primary{
    font-weight: 600;
    border-width: 2px;
}
.cta a:not(.primary) {
  opacity: 0.85;
}

a{
    position: relative;
    overflow: hidden;    
    height: 45px;
    width: 160px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;
    margin-bottom: 0px;

    text-decoration: none;
    color: #f8fafc;
            
    border: 1px solid #4da3ff;          // For Horizontal filling Fx    
    background: transparent;
    // border-bottom: 2px solid #4da3ff;   // For Vertical filling Fx

    z-index: 1;    
    transition: color 0.3s ease-out;

    border-radius: 10px;
}

a::before {
    content: "";
    position: absolute;

    // bottom: 0;      // For Horizontal filling Fx
    // top: auto;      // For Horizontal filling Fx
    top: 0;         // For vertical filling Fx    
    left: 0;

    // For Horizontal filling Fx
    height: 100%;
    width: 0%;

    // For Vertical filling Fx
    // height: 0%;
    // width: 100%;

    background-color: #4da3ff;

    z-index: -1;
    transition: width 0.3s ease;    // For Horizontal filling Fx
    // transition: height 0.3s ease;   // For Vertical filling Fx
}

a:hover::before{
    // height: 100%;           // For Vertical filling Fx
    width: 100%;           // For Horizontal filling Fx
}

a:hover {
  color: #0f172a;
  border-color: #0f172a;
  opacity: 1;
}
