<section class="hero">
    <h1 class="hero-title">
        <span>Ale</span>jandro <span>Di</span>az <span>Fon</span>talva
        <!-- Software Engineer · Industrial Systems · Frontend (Angular) -->
    </h1>    
    <h2>Software Engineer</h2>
    <p class="hero-subtitle">
        Software Engineer · Industrial Systems · Frontend (Angular)
    </p>

    <p class="hero-description">
        Hi! I'm Alejandro Díaz Fontalva, a Software Engineer with a background in 
        industrial systems and automation, working across both engineering and 
        software environments.

        Over the years, I've developed solutions in areas such as industrial 
        automation with PLCs, microelectronics, and .NET/C# development, and I'm 
        now expanding into frontend development with Angular.

        I enjoy adapting to different technical challenges and turning ideas 
        into practical, scalable software solutions — transforming ideas into 
        software and problems into solutions.
    </p>        

    <div class="cta">    
        <!-- Go to Projects Page -->
        <a routerLink="/projects" class="cta-link primary">
            View my projects →
        </a>        
        <!-- Go to About Page -->            
        <a routerLink="/about" class="cta-link">
            More about me →
        </a>
        <!-- See my resume -->            
        <a href="assets/documents/cv.pdf" target="_blank" class="cta-link">
            See my resume →
        </a>
    </div>
</section>
