<section class="projects">
    <h2>Featured Projects</h2>
    
    <!-- <button (click)="searchProjects()">LOAD PROJECTS</button> -->

    @for (p of projects$ | async; track p.id) {
        <article class="project">     
        
            <header class="project-header">
                <h3 class="project-title">
                    {{p.title}}
                </h3>            
            </header>                       
            
            <section class="project-meta">
                
                <div class="meta-item">
                    <span class="meta-label">Year</span>                
                    <span class="meta-value">{{p.year}}</span>                
                </div>

                <div class="meta-item">
                    <span class="meta-label">Role:</span>                
                    <span class="meta-value">{{p.role}}</span>                     
                </div>

                <div class="meta-item">
                    <span class="meta-label">Stack:</span>
                    <ul class="stack-list">
                        @for (item of p.stack; track item.name) {
                            <li class="stack-item">
                                <img src= "{{item.icon}}" alt="{{item.name}} logo">
                                <span>{{item.name}}</span>
                            </li>
                        }                        
                    </ul>
                </div>

            </section>        
            
            <section class="project-content">

                <div class="content-block">
                    <h4 class="content-label">Description</h4>
                    <p>
                        {{p.description}}
                    </p>
                </div>            

                <div class="content-block">
                    <h4 class="content-label">Key contributions</h4>
                    <ul>
                        @for (item of p.contributions; track $index) {
                            <li class="stack-item">
                                {{item}}
                            </li>
                        }
                    </ul>
                </div>            

                <div class="content-block">
                    <h4 class="content-label">Impact</h4>
                    <ul>
                        @for (item of p.impact; track $index) {
                            <li class="stack-item">
                                {{item}}
                            </li>
                        }                        
                    </ul>
                </div>

            </section>  
        
        </article>
    }    

</section>
    