html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(15, 23, 42); /* gris azulado oscuro */
  color: #e5e7eb;
    font-family: 'Source Sans 3';
    // font-family: 'DM Sans', sans-serif;
    // font-family: 'Lato';
    // font-family: 'Manrope';
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Nunito Sans', sans-serif;

  margin: 20px 20px;
}
section {
  background-color: #111827; /* un poco más claro */
}