html {
  scroll-behavior: smooth;  
  
  overflow-y: scroll;
  scrollbar-gutter: stable;

  overflow-x: hidden;
}
body {
  background-color: rgba(15, 23, 42); /* gris azulado oscuro */
  background: radial-gradient(circle at top, #0f172a, #070b14);
  // background: radial-gradient(circle, #0f172a, #0c1326, #070b14);
  color: #e5e7eb;
    font-family: 'Source Sans 3';    
    line-height: 1.6;
    // font-family: 'DM Sans', sans-serif;
    // font-family: 'Lato';
    // font-family: 'Manrope';
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Nunito Sans', sans-serif;

  // margin: 20px 20px;

  margin: 0;
  overflow-x: hidden;
}

// * {
//   outline: 1px solid red;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Hides the horizontal scroll bar (testing)
// body {
//   overflow-x: hidden;
// }